.card {
  --accent-color: #ffd426;
  position: relative;
  width: 240px;
  background: white;
  border-radius: 1rem;
  padding: 0.3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 50px 30px -20px;
  transition: all 0.5s ease-in-out;
  border: 2px solid var(--accent-color);
}

.card .image-container {
  position: relative;
  width: 100%;
  height: 130px;
  border-radius: 0.7rem;
  border-top-right-radius: 4rem;
  margin-bottom: 1rem;
}

.card .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: inherit;
}

.card .image-container .svg {
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

.card .image-container .price {
  position: absolute;
  right: 0.7rem;
  bottom: -1rem;
  background: white;
  color: var(--accent-color);
  font-weight: 900;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 1rem 1rem 2rem 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 15px 0px;
}

.card .favorite {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.card .favorite input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.card .favorite input:checked ~ svg {
  animation: bouncing 0.5s;
  fill: rgb(255, 95, 95);
  filter: drop-shadow(0px 3px 1px rgba(53, 53, 53, 0.14));
}

.card .favorite svg {
  fill: #a8a8a8;
}

.card .content {
  padding: 0px 0.8rem;
}

.card .content .brand {
  font-weight: 900;
  color: #a6a6a6;
}

.card .content .product-name {
  font-weight: 700;
  color: #666666;
  font-size: 0.7rem;
}

.card .content .color-size-container {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  color: #a8a8a8;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.card .content .color-size-container > * {
  flex: 1;
}

.card .content .color-size-container .colors .colors-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  font-size: 0.5rem;
  margin-top: 0.2rem;
}

.card .content .color-size-container .colors .colors-container .color {
  height: 14px;
  position: relative;
}

.card
  .content
  .color-size-container
  .colors
  .colors-container
  .color:hover
  .color-name {
  display: block;
}

.card .content .color-size-container .colors .colors-container .color a {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;
  border: 3px solid black;
  border-radius: 50%;
}

.card
  .content
  .color-size-container
  .colors
  .colors-container
  .color
  .color-name {
  display: none;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  background: black;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  text-align: center;
}

.card
  .content
  .color-size-container
  .colors
  .colors-container
  .color:first-child
  a {
  border-color: #ffd426;
}

.card
  .content
  .color-size-container
  .colors
  .colors-container
  .color:nth-child(2)
  a {
  background: #144076;
}

.card
  .content
  .color-size-container
  .colors
  .colors-container
  .color:nth-child(3)
  a {
  border-color: #00b9ff;
}

.card
  .content
  .color-size-container
  .colors
  .colors-container
  .color:nth-child(4)
  a {
  border-color: #ff6ba1;
}

.card .content .color-size-container .colors .colors-container .active {
  border-color: black;
}

.card .content .color-size-container .sizes .size-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.card .content .color-size-container .sizes .size-container .size {
  height: 14px;
}

.card .content .color-size-container .sizes .size-container .size .size-radio {
  cursor: pointer;
}

.card
  .content
  .color-size-container
  .sizes
  .size-container
  .size
  .size-radio
  input {
  display: none;
}

.card
  .content
  .color-size-container
  .sizes
  .size-container
  .size
  .size-radio
  input:checked
  ~ .name {
  background: var(--accent-color);
  border-radius: 2rem 2rem 1.5rem 1.5rem;
  color: white;
}

.card
  .content
  .color-size-container
  .sizes
  .size-container
  .size
  .size-radio
  .name {
  display: grid;
  place-content: center;
  height: 100%;
  aspect-ratio: 1.2/1;
  text-decoration: none;
  color: #484848;
  font-size: 0.5rem;
  text-align: center;
}

.card-btn {
  display: flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  padding: 0.3rem 1rem;
  color: white;
  background: var(--accent-color);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
}

button svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button:hover svg {
  transform: translateX(5px) rotate(90deg);
}

button:hover span {
  transform: translateX(7px);
}

.card:hover {
  transform: scale(1.03);
}

@keyframes bouncing {
  from,
  to {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1.5, 2.1);
  }

  50% {
    transform: scale(2.1, 1.5);
  }

  75% {
    transform: scale(1.5, 2.05);
  }
}
